# Entregable semana 7
## Sobre la base del entregable de la semana 5
#### - Se agrego un DF que incorpora datos del top 50 actuales del ranking FIFA con el objetivo de saber como les fue durante la fase de grupos del mundial.
#### - Se tomo en cuenta que al momento de levantar los datos de la web, se usaba la posición de los DF siendo esto suceptible a fallos (segun lo indicado).Para resolverlo se usaron las sentencias "try","except" convinado con " if(df.columns==**)"

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\federico.bergada\application data\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\federico.bergada\application data\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\federico.bergada\application data\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\federico.bergada\application data\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\federico.bergada\application data\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\federico.bergada\application data\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\federico.bergada\application data\lib\site-packages (4.9.2)

In [3]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\federico.bergada\application data\lib\site-packages (1.0.0)

In [10]:
# para conectarse con cluster de AWS
!pip install redshift_connector

Requirement already satisfied: redshift_connector in c:\users\federico.bergada\application data\lib\site-packages (2.0.910)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\users\federico.bergada\application data\lib\site-packages (from redshift_connector) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\federico.bergada\application data\lib\site-packages (from redshift_connector) (2023.3)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\users\federico.bergada\application data\lib\site-packages (from redshift_connector) (4.12.2)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\users\federico.bergada\application data\lib\site-packages (from redshift_connector) (1.26.145)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\federico.bergada\application data\lib\site-packages (from redshift_connector) (2.31.0)
Requirement already satisfied: lxml>=4.6.5 in c:\users\federico.bergada\application data\lib\site-packages (from redshift_connector) (4.9.2)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\users\federico.bergada\application data\lib\site-packages (from redshift_connector) (1.29.145)
Requirement already satisfied: packaging in c:\users\federico.bergada\application data\lib\site-packages (from redshift_connector) (23.1)
Requirement already satisfied: setuptools in c:\users\federico.bergada\application data\lib\site-packages (from redshift_connector) (65.5.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\federico.bergada\application data\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.4.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\federico.bergada\application data\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in c:\users\federico.bergada\application data\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.6.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\federico.bergada\application data\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\federico.bergada\application data\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.16)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\federico.bergada\application data\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\federico.bergada\application data\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\federico.bergada\application data\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2023.5.7)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\federico.bergada\application data\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: six>=1.5 in c:\users\federico.bergada\application data\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)

In [2]:
import pandas as pd
import pickle

In [5]:
# (Creando la conexion)
import os
import dotenv

In [31]:
info = pd.read_html('https://es.wikipedia.org/wiki/Copa_Mundial_de_F%C3%BAtbol_de_2022')

In [7]:
# cargamos las variables de entorno
dotenv.load_dotenv()

True

In [8]:
# leemos las varaibles de entorno
usuario = os.getenv('User')
passwd = os.getenv('Password')
host = os.getenv('host')
database = os.getenv('db')

In [11]:
import redshift_connector

conn = redshift_connector.connect(
     host=host,
     database=database,
     port=5439,
     user=usuario,
     password=passwd
  )

InterfaceError: ('communication error', PermissionError(13, 'Intento de acceso a un socket no permitido por sus permisos de acceso', None, 10013, None))

In [11]:
my_schema='federicobergada_coderhouse'

conn.rollback() #regresa al inicio del programa, antes de la ejecución de estos cambios. De esta manera, no se deja ninguna operación a medias.
conn.autocommit = True
cursor = conn.cursor()
## Aca hay que cambiar la tabla
cursor.execute(f'CREATE TABLE if not exists {my_schema}.faseDeGruposMundial(Selección VARCHAR(30),Pts INT, PJ INT, PG INT, PE INT, PP INT, GF INT, GC INT, Dif VARCHAR(5))')

In [43]:
# Aca habría que ver la forma de cambia la forma de subir la tabla  a redsfhit
#Este codigo hay que remplazarlo con el que esta abajo
# Insert Dataframe into SQL Server:
import numpy as np

sql = "INSERT INTO federicobergada_coderhouse.faseDeGruposMundial(Selección,Pts,PJ,PG,PE,PP,GF,GC,Dif) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s)" 
for k in range(8,64,7):
    for i in range(len(info[k].index)):
        list_item = []
        for j in range(9):
            if type(list(info[k].iloc[i])[j])  is np.int64:        
                list_item.append(list(info[k].iloc[i])[j].item())
            else:
                list_item.append(list(info[k].iloc[i])[j])
             #valores = list(info[k].iloc[i])
        #print(type(list_item[len(list_item)-1]))
        cursor.execute(sql, list_item)
conn.commit() 
cursor.close()

NameError: name 'cursor' is not defined

In [32]:
# Lee los datos de la página, filtranndo por aquellos df con columna dif
dfs = pd.read_html('https://es.wikipedia.org/wiki/Copa_Mundial_de_F%C3%BAtbol_de_2022',match='Dif')

In [42]:
# con el try y el except filtra solo los df que tienen las columnas mencionadas (son los df de los grupos) y nos independizamos de llamar a los dataframes por su ubicación 
#con el resto del codigo permite insertar fila por fila
import numpy as np

for df in dfs: 
    try:
        if (df.columns == ['Selección', 'Pts', 'PJ', 'PG', 'PE', 'PP', 'GF', 'GC', 'Dif']).all():
            for i in range(len(df.index)):
                list_item = []
                for j in range(9):
                    if type(list(df.iloc[i])[j])  is np.int64:
                        list_item.append(list(df.iloc[i])[j].item())
                    else:
                        list_item.append(list(df.iloc[i])[j])
                print(list_item)                       
    except ValueError:
        pass

['Países Bajos', 7, 3, 2, 1, 0, 5, 1, '4']
['Senegal', 6, 3, 2, 0, 1, 5, 4, '1']
['Ecuador', 4, 3, 1, 1, 1, 4, 3, '1']
['Catar', 0, 3, 0, 0, 3, 1, 7, '–6']
['Inglaterra', 7, 3, 2, 1, 0, 9, 2, '7']
['Estados Unidos', 5, 3, 1, 2, 0, 2, 1, '1']
['Irán', 3, 3, 1, 0, 2, 4, 7, '–3']
['Gales', 1, 3, 0, 1, 2, 1, 6, '–5']
['Argentina', 6, 3, 2, 0, 1, 5, 2, '3']
['Polonia', 4, 3, 1, 1, 1, 2, 2, '0']
['México', 4, 3, 1, 1, 1, 2, 3, '–1']
['Arabia Saudita', 3, 3, 1, 0, 2, 3, 5, '–2']
['Francia', 6, 3, 2, 0, 1, 6, 3, '3']
['Australia', 6, 3, 2, 0, 1, 3, 4, '–1']
['Túnez', 4, 3, 1, 1, 1, 1, 1, '0']
['Dinamarca', 1, 3, 0, 1, 2, 1, 3, '–2']
['Japón', 6, 3, 2, 0, 1, 4, 3, '1']
['España', 4, 3, 1, 1, 1, 9, 3, '6']
['Alemania', 4, 3, 1, 1, 1, 6, 5, '1']
['Costa Rica', 3, 3, 1, 0, 2, 3, 11, '–8']
['Marruecos', 7, 3, 2, 1, 0, 4, 1, '3']
['Croacia', 5, 3, 1, 2, 0, 4, 1, '3']
['Bélgica', 4, 3, 1, 1, 1, 1, 2, '–1']
['Canadá', 0, 3, 0, 0, 3, 2, 7, '–5']
['Brasil', 6, 3, 2, 0, 1, 3, 1, '2']
['Suiza', 6, 3, 2, 0, 1, 4, 3, '1']
['Camerún', 4, 3, 1, 1, 1, 4, 4, '0']
['Serbia', 1, 3, 0, 1, 2, 5, 8, '–3']
['Portugal', 6, 3, 2, 0, 1, 6, 4, '2']
['Corea del Sur', 4, 3, 1, 1, 1, 4, 4, '0']
['Uruguay', 4, 3, 1, 1, 1, 2, 2, '0']
['Ghana', 3, 3, 1, 0, 2, 5, 7, '–2']

In [29]:
# Me traigo el top 50 del ranking Fifa
url='https://es.wikipedia.org/wiki/Anexo:Estad%C3%ADsticas_de_la_clasificaci%C3%B3n_mundial_de_la_FIFA'
fifadfs=pd.read_html(url,na_values='$Nulls$')

for fifadf in fifadfs: 
    try:
        if (fifadf.columns == ['Pos.', 'V', 'Selección', 'Continente', 'Confederación','Total puntos']).all():
            print(fifadf)
            break
    except ValueError:
        pass

    Pos.    V        Selección         Continente Confederación  Total puntos
0      1  1.0        Argentina    América del Sur      Conmebol       1840.93
1      2  1.0          Francia             Europa          UEFA       1838.45
2      3  2.0           Brasil    América del Sur      Conmebol       1834.21
3      4  NaN          Bélgica             Europa          UEFA       1792.53
4      5  NaN       Inglaterra             Europa          UEFA       1792.43
5      6  NaN     Países Bajos             Europa          UEFA       1731.23
6      7  NaN          Croacia             Europa          UEFA       1730.02
7      8  NaN           Italia             Europa          UEFA       1713.66
8      9  NaN         Portugal             Europa          UEFA       1707.22
9     10  NaN           España             Europa          UEFA       1682.85
10    11  NaN        Marruecos             África           CAF       1677.79
11    12  NaN            Suiza             Europa          UEFA       1664.24
12    13  NaN   Estados Unidos  América del Norte      Concacaf       1653.77
13    14  NaN         Alemania             Europa          UEFA       1647.42
14    15  NaN           México  América del Norte      Concacaf       1631.87
15    16  NaN          Uruguay    América del Sur      Conmebol       1631.29
16    17  NaN         Colombia    América del Sur      Conmebol       1617.08
17    18  1.0          Senegal             África           CAF       1613.21
18    19  1.0        Dinamarca             Europa          UEFA       1594.53
19    20  NaN            Japón               Asia           AFC       1588.59
20    21  NaN             Perú    América del Sur      Conmebol       1561.20
21    22  1.0           Suecia             Europa          UEFA       1558.70
22    23  1.0          Polonia             Europa          UEFA       1553.76
23    24  NaN             Irán               Asia           AFC       1553.23
24    25  4.0           Serbia             Europa          UEFA       1541.52
25    26  2.0            Gales             Europa          UEFA       1538.95
26    27  2.0    Corea del Sur               Asia           AFC       1536.01
27    28  2.0            Túnez             África           CAF       1535.76
28    29  2.0        Australia            Oceanía           AFC       1532.79
29    30  4.0          Ucrania             Europa          UEFA       1530.04
30    31  NaN            Chile    América del Sur      Conmebol       1511.32
31    32  2.0          Austria             Europa          UEFA       1508.24
32    33  3.0          Hungría             Europa          UEFA       1504.24
33    34  6.0          Argelia             África           CAF       1504.19
34    35  4.0           Egipto             África           CAF       1500.67
35    36  6.0          Escocia             Europa          UEFA       1500.52
36    37  NaN            Rusia      Europa y Asia          UEFA       1495.53
37    38  NaN  República Checa             Europa          UEFA       1495.04
38    39  7.0       Costa Rica    América Central      Concacaf       1491.12
39    40  5.0          Nigeria             África           CAF       1480.80
40    41  NaN          Ecuador    América del Sur      Conmebol       1478.13
41    42  9.0          Camerún             África           CAF       1470.21
42    43  1.0          Turquía             Europa          UEFA       1465.70
43    44  1.0          Noruega             Europa          UEFA       1463.77
44    45  2.0  Costa de Marfil             África           CAF       1449.95
45    46  6.0          Rumania             Europa          UEFA       1444.58
46    47  6.0           Canadá  América del Norte      Concacaf       1442.66
47    48  2.0         Paraguay    América del Sur      Conmebol       1440.65
48    49  1.0          Irlanda             Europa          UEFA       1436.31
49    50  NaN     Burkina Faso             África           CAF       1433.91

In [58]:
dffg=pd.DataFrame()
import numpy as np
for df in dfs: 
    try:
        if (df.columns == ['Selección', 'Pts', 'PJ', 'PG', 'PE', 'PP', 'GF', 'GC', 'Dif']).all():
            for i in range(len(df.index)):
                list_item = []
                for j in range(9):
                    if type(list(df.iloc[i])[j])  is np.int64:
                        list_item.append(list(df.iloc[i])[j].item())
                    else:
                        list_item.append(list(df.iloc[i])[j])
                dffg = pd.concat([dffg, pd.DataFrame([list_item])], ignore_index=True)
                     
    except ValueError:
        pass
dffg.rename(columns = {dffg.columns[0]:'Selección',
                                    dffg.columns[1]:'Pts',
                                    dffg.columns[2]:'PJ',
                                    dffg.columns[3]:'PG',
                                    dffg.columns[4]:'PE',
                                    dffg.columns[5]:'PP',
                                    dffg.columns[6]:'GF',
                                    dffg.columns[7]:'GC',
                                    dffg.columns[8]:'Dif'},inplace = True)
dffg

         Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
0     Países Bajos    7   3   2   1   0   5   1   4
1          Senegal    6   3   2   0   1   5   4   1
2          Ecuador    4   3   1   1   1   4   3   1
3            Catar    0   3   0   0   3   1   7  –6
4       Inglaterra    7   3   2   1   0   9   2   7
5   Estados Unidos    5   3   1   2   0   2   1   1
6             Irán    3   3   1   0   2   4   7  –3
7            Gales    1   3   0   1   2   1   6  –5
8        Argentina    6   3   2   0   1   5   2   3
9          Polonia    4   3   1   1   1   2   2   0
10          México    4   3   1   1   1   2   3  –1
11  Arabia Saudita    3   3   1   0   2   3   5  –2
12         Francia    6   3   2   0   1   6   3   3
13       Australia    6   3   2   0   1   3   4  –1
14           Túnez    4   3   1   1   1   1   1   0
15       Dinamarca    1   3   0   1   2   1   3  –2
16           Japón    6   3   2   0   1   4   3   1
17          España    4   3   1   1   1   9   3   6
18        Alemania    4   3   1   1   1   6   5   1
19      Costa Rica    3   3   1   0   2   3  11  –8
20       Marruecos    7   3   2   1   0   4   1   3
21         Croacia    5   3   1   2   0   4   1   3
22         Bélgica    4   3   1   1   1   1   2  –1
23          Canadá    0   3   0   0   3   2   7  –5
24          Brasil    6   3   2   0   1   3   1   2
25           Suiza    6   3   2   0   1   4   3   1
26         Camerún    4   3   1   1   1   4   4   0
27          Serbia    1   3   0   1   2   5   8  –3
28        Portugal    6   3   2   0   1   6   4   2
29   Corea del Sur    4   3   1   1   1   4   4   0
30         Uruguay    4   3   1   1   1   2   2   0
31           Ghana    3   3   1   0   2   5   7  –2

In [70]:
# la idea es ver como les fue a los top 50 (actuales en el último mundial)
# merge entre las dos tablas, y se eliminan los que son nulos, es decir quienes no estaban en el top 50 y lo ordeno por posición
dffg_fifa_t = pd.merge(dffg, fifadf, on='Selección',how='left')
dffg_fifa = dffg_fifa_t[['Selección', 'Pts', 'PJ', 'PG', 'PE', 'PP', 'GF', 'GC', 'Dif','Pos.', 'Continente', 'Confederación','Total puntos']].dropna().sort_values(by=['Pos.'],ignore_index= True)
dffg_fifa.dtypes

Selección         object
Pts                int64
PJ                 int64
PG                 int64
PE                 int64
PP                 int64
GF                 int64
GC                 int64
Dif               object
Pos.             float64
Continente        object
Confederación     object
Total puntos     float64
dtype: object