In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\federico.bergada\application data\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\federico.bergada\application data\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\federico.bergada\application data\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\federico.bergada\application data\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\federico.bergada\application data\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\federico.bergada\application data\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
from string import ascii_uppercase as abecedario
import pickle

In [3]:
info = pd.read_html('https://es.wikipedia.org/wiki/Copa_Mundial_de_F%C3%BAtbol_de_2022')

In [4]:
# los grupos van de la A --> H
# las tablas de cada grupo comienzan en la 8 y van de 7 en 7
info[57]

       Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
0       Portugal    6   3   2   0   1   6   4   2
1  Corea del Sur    4   3   1   1   1   4   4   0
2        Uruguay    4   3   1   1   1   2   2   0
3          Ghana    3   3   1   0   2   5   7  –2

In [5]:
# recorre todas las tablas con los los resultados de los grupos
# A tener en cuenta las letras de los grupos, se sacan de abecedario
# luego agrego un diccionario
dicc_tablas = {}
for letra,i in zip(abecedario,range(8,64,7)):
    df = info[i]
    dicc_tablas[f'Grupo{letra}'] = df

In [6]:
dicc_tablas

{'GrupoA':       Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0  Países Bajos    7   3   2   1   0   5   1   4
 1       Senegal    6   3   2   0   1   5   4   1
 2       Ecuador    4   3   1   1   1   4   3   1
 3         Catar    0   3   0   0   3   1   7  –6,
 'GrupoB':         Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0      Inglaterra    7   3   2   1   0   9   2   7
 1  Estados Unidos    5   3   1   2   0   2   1   1
 2            Irán    3   3   1   0   2   4   7  –3
 3           Gales    1   3   0   1   2   1   6  –5,
 'GrupoC':         Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0       Argentina    6   3   2   0   1   5   2   3
 1         Polonia    4   3   1   1   1   2   2   0
 2          México    4   3   1   1   1   2   3  –1
 3  Arabia Saudita    3   3   1   0   2   3   5  –2,
 'GrupoD':    Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0    Francia    6   3   2   0   1   6   3   3
 1  Australia    6   3   2   0   1   3   4  –1
 2      Túnez    4   3   1   1   1   1   1   0
 3  Dinamarca    1   3   0   1   2   1   3  –2,
 'GrupoE':     Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0       Japón    6   3   2   0   1   4   3   1
 1      España    4   3   1   1   1   9   3   6
 2    Alemania    4   3   1   1   1   6   5   1
 3  Costa Rica    3   3   1   0   2   3  11  –8,
 'GrupoF':    Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0  Marruecos    7   3   2   1   0   4   1   3
 1    Croacia    5   3   1   2   0   4   1   3
 2    Bélgica    4   3   1   1   1   1   2  –1
 3     Canadá    0   3   0   0   3   2   7  –5,
 'GrupoG':   Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0    Brasil    6   3   2   0   1   3   1   2
 1     Suiza    6   3   2   0   1   4   3   1
 2   Camerún    4   3   1   1   1   4   4   0
 3    Serbia    1   3   0   1   2   5   8  –3,
 'GrupoH':        Selección  Pts  PJ  PG  PE  PP  GF  GC Dif
 0       Portugal    6   3   2   0   1   6   4   2
 1  Corea del Sur    4   3   1   1   1   4   4   0
 2        Uruguay    4   3   1   1   1   2   2   0
 3          Ghana    3   3   1   0   2   5   7  –2}

In [7]:
# Ahora uso el modulo picke para exportar el diccionario
with open('dicc_tablas','wb') as output:
    pickle.dump(dicc_tablas,output)

In [8]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\federico.bergada\application data\lib\site-packages (2.0.15)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\federico.bergada\application data\lib\site-packages (from sqlalchemy) (4.6.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\federico.bergada\application data\lib\site-packages (from sqlalchemy) (2.0.2)

In [9]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\federico.bergada\application data\lib\site-packages (2.9.6)

In [10]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\federico.bergada\application data\lib\site-packages (1.0.0)

In [11]:
# Creando la conexion
from sqlalchemy import create_engine 
import psycopg2
import os
import dotenv

In [12]:
# cargamos las variables de entorno
dotenv.load_dotenv()

True

In [13]:
# leemos las varaibles de entorno
usuario = os.getenv('User')
passwd = os.getenv('Password')

In [14]:
conn = create_engine(f'postgresql+psycopg2://User={usuario}&Password={passwd}&Database=data-engineer-database&Server=data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com&Port=5439')

In [15]:
# Exportar la tabla
dicc_tablas.to_sql('faseDeGruposMundial', conn, index=False, if_exists='replace')

AttributeError: 'dict' object has no attribute 'to_sql'